/*This css is the layout for body and sections*/
/*and for general elements*/

body{
    color: #c6a59d;
    margin: 0;
}
header {
    background-color: #c6a59d;
}
#Bonus {
    Background-color: #000;
    width: 100%;
    height: 800px;
}
#Practices {
    Background-color: #ffffff;
    width: 100%;
}

.row-for-art{
    width: 1100px;
    height: auto;

}
.box-for-art {
    width: 500px;
    height: auto;
    float: left;
    margin: 30px;
    padding: 5px;
    background-color: black;
}
h1{
    text-align: center;
}

/*This is for the Bonuses section*/

.art{
    width:150px;
    height: 220px;
    border: solid 2px white;
    float: left;
    z-index: -1;
}

.dot{
    width: 250px;
    height: 250px;
    background-color: red;
    position: relative;
    top: -30px;
    left: 110px;
    border-radius: 50%;
    z-index: 1;
}

#frames{
    width: 320px;
    height: 350px;
    border-style: none;
}

.blue{
    background-color: blue;
    width:80px;
    height: 250px;
    float:left;
    position: relative;
}
.green{
    background-color: green;
    width:120px;
    height: 250px;
    float: left;
    position: relative;
}
.red{
    background-color: red;
    width: 100px;
    height: 250px;
    border-radius: 0 0 0 45px;
    float: left;
    position: absolute;
    z-index: 1;
    left: 180px;
}
ul, li, a {
    text-decoration: none;
    color: #c6a59d;
    list-style: none;
    display: inline-block;
}

/*This is for the Practice section*/


.container{
    width: 100%;
    display: flexbox;
    flex-wrap: wrap;
    height: 1000px;
    background-color: #c6a59d;
    border: solid 2px black;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.first-section{
    margin: auto;
    display: flex;
    width: 80%;
    height: 300px;
}
.second-section{
    margin: auto;
    display: flex;
    width: 80%;
    height: 300px;
    position: relative;
    /*position: fixed;*/
}

.button-section{
    /*margin: auto;*/
    margin: auto;
    display: flex;
    width: 80%;
    height: 200px;
}

.one{
    width: 200px;
    height: 200px;
    background-color: cadetblue;
    /*overflow: auto;*/
    /*position: fixed;*/
}
.two {
    width: 200px;
    height: 200px;
    background-color: #00aba9;
    /*overflow: auto;*/
    /*position: fixed;*/
}
.three {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    /*overflow: auto;*/
    /*position: fixed;*/
}
.four {
    width: 200px;
    height: 200px;
    background-color: aqua;
    /*overflow: auto;*/
    /*position: fixed;*/
}
.five {
    width: 200px;
    height: 200px;
    background-color: lightpink;
    position: absolute;
}
.six {
    width: 200px;
    height: 200px;
    background-color: pink;
    position: absolute;
}
.seven {
    width: 200px;
    height: 200px;
    background-color: hotpink;
    position: absolute;
}
.eight {
    width: 200px;
    height: 200px;
    background-color: deeppink;
    position: absolute;
}
.box {
    width:200px;
    height: 250px;
    margin: auto;
    /*position: fixed;*/
}
.box1{
    width: 200px;
    height: 250px;
    margin: auto;
    /*position: marker;*/
}

button {
    width: 150px;
    height: 50px;
    color: #fff;
    background-color: black;
    /*margin: 5px 25px;*/
}
.wrap-button {
    margin-left: 120px;
}