body {
    box-sizing: border-box;
}
.wrapper {
    text-align: center;
    padding: 90px 60px;
    width: 80%;
    margin: auto;
}

.pie-chart {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    background:hotpink;
    opacity: 0.5;
    background-image:linear-gradient(to right, transparent 50%, #655 0);
    position: relative;
    z-index: -100;
    /* border: 1px solid white; */
}
.pie-chart:before {
    content: '';
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: inherit;
    transform-origin: left;
    transform: rotate(181deg);
    border-left: 5px solid white;
    
}
.pie-chart:after {
    /* content: '';
    display: block;
    margin-left: 50%;
    height: 100%;
    background-color: lawngreen;
    border-radius: 0 100% 100% 0 / 50%;
    transform: translate(0, -50%) rotate(90deg) rotate(45deg);
    position: relative;
    transform-origin: 50% 100%;
    top: -75%;
    right: 25%; */
    /* z-index: -1; */
}
.triangle {
    border: 5px solid #fff;
    height: 100%;
    position: absolute;
    transform: translate(0, -50%) rotate(130deg) rotate(0deg);
    transform-origin: 25.5% 45%;
    width: 100%;
    /* background-color: crimson; */
    overflow: hidden;
    /* clip-path:polygon(-100% -100%, 200%, -100%, 200% 200%, -100% 200%); */
}


.triangle:before {
    /* background: rgba(255,0,0,0.5); */

    background-color: white;
    content:'';
    height: 100%;
    position: absolute;
    transform: translate(0, 50%) rotate(90deg);
    transform-origin: 50% 0;
    width: 100%;
    /* overflow: hidden; */
    
}

.text-pink {
    color: black;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    z-index: 500;
    position: absolute;
    top: 85px;
    left: 30%;
}

.text-triangle {
    color: black;
    font-size: 2em;
    font-weight: 500;
    position: relative;
    top: 241px;
    left: -117px;
    transform: rotate(-132deg);


}

.img-wrapper {
    height: auto;
    width: 400px;
    margin: auto;
    padding: 30px;
}
.img-chart {
    background-image: url("pie-chart.png");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position:relative;
    z-index: -1;
}
.first-text {
font-family: monospace;
font-weight: 500;
font-size: 3em;
position: absolute;
/* top: 146%;
left: 40%; */
margin:0;
}


@media (min-aspect-ratio: 2/1) {
    .first-text {
        bottom: 69.5%;
        left: 22.88%;
        margin-bottom: 1.25vw;
    }
    .second-text {
        bottom:60.5%;
        left: 18%;
        margin-bottom: 1vw;
    }
    .third-text {
        bottom: 60.5%;
        left: 34%;
        margin-bottom: 1vw;
    }
}

@media (max-aspect-ratio: 2/1) {
    .first-text {
        bottom: 73.5%;
        left: 23.88%;
        margin-left: 0.25vh;
    }
    .second-text {
        bottom: 61.5%;
        left: 17%;
        margin-left:1.25vh;
    }
    .third-text {
        bottom: 61.5%;
        left: 32%;
        margin-left:1.25vh;
    }
}

.second-text {
font-family: fantasy;
font-weight: 300;
font-size:1.5em;
position: absolute;

}
.third-text {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
font-weight: 400;
font-size:2em;
position: absolute;
}