
#myDiv {
    padding: 90px 60px;
    width: 800px;
    margin: auto;

}

.notdisplay-footer {
    display: none;
}
.myfooter {
    background-color: hotpink;
}

.hidden {
    display: none;
}

.split-wrapper {
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between ;
    width: 100%;
}

.split-wrapper h2, .split-wrapper p {
    width: 40%;
    padding: 0 20px;
}


.btn {
    border: none;
    outline: none;
    padding: 50px 50px;
    background-color: #f1f1f1;
    cursor: pointer;
  }

  .semi-active {
      background-color: #f1f1f1;
  }

  /* Style the active class (and buttons on mouse-over) */
  .active, .btn:hover {
    background-color: #666;
    color: white;
  }

  .list {
      padding: 60px;
      background: #c1c1c1;
  }
  .list .list-wrapper {
      list-style: none;
      display:flex;
      flex-flow: row nowrap;
      /* flex-flow: column wrap; */
      width: 80%;
      justify-content: center;
  }
  .list .list-wrapper .card {
      text-align: center;
      /* margin: 15px; */
      margin: 0 15px;
      height: 50px;
      width: 50px;
      padding: 20px;
      background-color: crimson;
      color: black;
  }

  .active-card {
      display: block !important;
      background-color: gray;
      color: white;
      /* position: absolute;
        left: 237px;
        height: auto;
        width: 80%;
        top: 85%; */
  }
  .card-content {
      display: none;
  }

  .card-content.active-card {

  }