body {
    box-sizing: border-box;
    background-color: ivory;
}

.container {
    padding: 90px 60px;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    
}

.nav-tab {
    list-style-type: none inside none;
    width: 100%;  
}
 li {
    margin: 15px;
    display: inline;
    font-size: 2em;
    color: hotpink;
    font-weight: 500;
}
li a {
    text-decoration: none;
}
a:visited {
    color: hotpink;
}
a:hover {
    color: gray;
    filter: drop-shadow(50%);
}

.tab-pane {
    display: none;
}

/* .tab-pane.active {
    display: block;
} */