@import
url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
h1{
    font-size: 7vh;
}
h2{
    font-size: 4.5vh;
}

html,
body,
#app {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

body{
    font-family: "Inconsolata", monospace;
    background: linear-gradient(-20deg,#ddd6f3 0%, #faaca8 100%, #faaca8 100%);
    color: white;
    background-attachment: fixed;
}

#app,
body,
.app-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.app-container .header {
    -weblit-animation: fade 1s ease 1.5s both;
    animation: fade 1s ease 1.5s;
    z-index: 20;
    text-align: right;
    flex: 1 0 20vw;
    margin: 0 5vw 5vw 0;
    margin-top: auto;
    text-shadow: 1px 2px 0px rgba(244, 59, 71, 0.4), 3px 2px 0px rgba(244, 59,
    71, 0.4), 3px 2px 0px rgba(244, 59, 71, 0.4), 3px 2px 0px rgba(244, 59, 71,
    0.4);
    position: relative;
}

.app-container .heade .header-img {
    position: absolute;
    top: -4rem;
    right: 10vw;
    z-index: -1;
    width: 12rem;
    height: 12rem;
    background: url("https://zephyo.github.io/22Days/code/10/graphics, rikkakuma.gif")
    no-repeat;
    background-size: contain;
}
.app-container .chat-container {
    -webkit-animation: fade 0.5s ease 0.2s both;
    animation: fade 0.5s ease 0.2s both;
    -webkit-transform: perspective(100vh) rotateY(-7deg);
    transform: perspective(100vh) rotateY(-7deg);
    border-radius: 12px;
    box-shadow: 10px 5px 40px 10px rgba(244, 59, 71, 0.4);
    flex: 1 1 70vh;
    display: flex;
    flex-direction: column;
    min-height: 60vh;
}

.app-container .chat-container .chat-header {
    border: 4px solid #453a94;
    border-bottom: 12px 12px 0 0;
    flex: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 4.5px;
    background: rgba(255, 255, 255, 0.5);
}

.app-container .chat-container .chta-header .dot {
    margin: 9px 13.5px 9px 0;
    width: 9px;
    height: 9px;
    background: #ff7871;
    border-radius: 50%;
    box-shadow: 3px 3px #db0035;
}
.app-container .chat-container .chat-header .dot:nth-child(1) {
    -webkit-animation: grow 0.3s cubic-bezier(0.36, 0.04, 0.15, 1.64) 0.3s
both;
}

.app-container .chat-container .chat-header .dot:nth-child(2){
    -webkit-animation: grow 0.3s cubic-bezier(0.36, -0.04, 0.15, 1.64) 0.5s both;
    animation: grow 0.3s cubic-bezier(0.36, 0.04, 0.15, 1.64) 0.5s both;
}

.app-container .chat-container .chat-header .dot:nth-child(3){
    -webkit-animation: grow 0.3s cubic-bezier(0.36, -0.04, 0.15, 1.64) 07s both;
    animation: grow 0.3s cubic-bezier(0.36, -0.04, 0.15, 1.64) 0.7s both;
}

