<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Visiting SAT</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
<link rel="stylesheet" href="css/visit.css">
<!-- Your custom styles go here -->
<head>
    <meta charset="UTF-8">
    <title>Visiting SAT</title>
</head>
<body>
<div class="fluid-container first">
    <div class="row satimg">
        <div class="col-12 text-center"><img class="img-fluid m-auto width" src="img/San%20Antonio-01.png" width="900px" </div>
    </div><!-- end of row satimg -->
    <div class="row tours">
        <div class="col-12 cards">
            <div class="card-group">
                <div class="card kids">
                    <img class="card-img-top img-fluid" src="img/PCG1.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">With Kids</h5>
                        <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                        <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                    </div>
                </div><!-- end of card-kids -->
                <div class="card shopping">
                    <img class="card-img-top" src="img/TG1.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Shopping</h5>
                        <!--<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>-->
                        <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                    </div>
                </div><!-- en of card shopping -->
                <div class="card nokids">
                    <img class="card-img-top" src="img/GpT1.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">No Kids</h5>
                        <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>-->
                        <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                    </div><!-- en of div car-body -->
                </div><!-- end of card nokids -->
            </div><!-- end of first div card-group -->
        </div><!-- end of first col-12 cards -->
        <div class="col-12 cards">
            <div class="card-group">
                <div class="card outdoors">
                    <img class="card-img-top" src="img/grandpa1.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Outdoors</h5>
                        <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                        <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                    </div>
                </div><!-- end of card outdoors -->
                <div class="card fun">
                    <img class="card-img-top" src="img/HSD1.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Just fun</h5>
                        <!--<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>-->
                        <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                    </div>
                </div><!-- end of card fun -->
                <div class="card newly-weds">
                    <img class="card-img-top" src="img/HSTC.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Newly Weds</h5>
                        <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>-->
                        <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                    </div>
                </div><!-- end of card newly-weds -->
            </div><!-- end of div card-group -->
        </div><!-- end of second div col-12 cards -->
        <div class="row" style="height: 300px">
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
        </div>
        <div class="col-12 cards">
            <div class="card-group">
                <div class="card kids">
                    <img class="card-img-top img-fluid" src="img/happy-family-roasting-marshmallow-over-campfire-PKP74LT.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">With Kids</h5>
                        <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                        <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                    </div>
                </div><!-- end of card-kids -->
                <div class="card shopping">
                    <img class="card-img-top" src="img/group-of-people-shopping-concept-PLZVEYX.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Shopping</h5>
                        <!--<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>-->
                        <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                    </div>
                </div><!-- en of card shopping -->
                <div class="card nokids">
                    <img class="card-img-top" src="img/happy-senior-couple-with-map-driving-in-car-PH4FBTG.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">No Kids</h5>
                        <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>-->
                        <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                    </div><!-- en of div car-body -->
                </div><!-- end of card nokids -->
            </div><!-- end of first div card-group -->
        </div><!-- end of first col-12 cards -->
        <div class="col-12 cards">
            <div class="card-group">
                <div class="card outdoors">
                    <img class="card-img-top" src="img/active-seniors-riding-bike-PUR7DFJ.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Outdoors</h5>
                        <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                        <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                    </div>
                </div><!-- end of card outdoors -->
                <div class="card fun">
                    <img class="card-img-top" src="img/friends-travel-backpacker-adventure-concept-PLUPQA6.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Just fun</h5>
                        <!--<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>-->
                        <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                    </div>
                </div><!-- end of card fun -->
                <div class="card newly-weds">
                    <img class="card-img-top" src="img/couple-of-travelers-taking-selfie-by-smartphone-P9P8LW4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Newly Weds</h5>
                        <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>-->
                        <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                    </div>
                </div><!-- end of card newly-weds -->
            </div><!-- end of div card-group -->
        </div><!--
    </div><!-- end of row tours -->
    <div class="row" style="height: 500px">
        <div class="col-sm"></div>
        <div class="col-sm"></div>
        <div class="col-sm"></div>
    </div>






</div><!-- End of fluid-container first -->







<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- Your custom JS goes here -->
</body>
</html>